@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2a2a2a;
}

.title{
    margin-top: 1.5rem;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid #ff5b5b; */
}

/*=====*/
/*BOXES*/
/*=====*/

.main-box{
    height: 80vh;
    display: flex;
    border: 1px solid #181818;
    border-radius: 12px;
    background: #181818;
}

/*============*/
/*OPTION BOXES*/
/*============*/

.option-box{
    width: 100%;
    height: 60px;
    display: flex;
    /* padding-left: 0px;
    padding-right: 0px; */
    /* padding-top: auto; */
    margin-bottom: 1rem;
    border: 1px solid #181818;
    border-radius: 12px;
    background: #181818;
    padding: 5px;
}

.option-box-left{
    width: 100%;
    background: #202020;
    border-radius: 12px;
    margin-right: 1rem;
    display: flex;
    /* border: 1px solid #fffb21; */
}

.option-box-right{
    width: 50%;
    background: #202020;
    border-radius: 12px;
    margin-left: 1rem;
    /* border: 1px solid #fffb21; */
}

.option-box-left .form-select{
    width: 30%;
    height: 80%;
    border-radius: 12px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    /* color: #fff;
    background: #202020; */
    cursor: pointer;
}

.option-box-right .btn{
    width: 100%;
    border-radius: 12px;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    /* color: #fff;
    background: #202020; */
    /* cursor: pointer; */
}

/*==================*/
/*LEFT & RIGHT BOXES*/
/*==================*/

.left-box{
    height: 98%;
    margin: auto;
    margin-right: 1rem;
}

.right-box{
    height: 98%;
    width: 50%;
    margin: auto;
    margin-left: 1rem;
}

.left-box, .right-box{
    border: 10px solid #202020;
    border-radius: 12px;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    overflow: auto;
    background: #202020;
}

.left-box-hover:hover, .right-box-hover:hover{
    background: #5e5e5e;
    box-shadow: 0px 0px 10px 10px rgb(134, 134, 134);
}

/*==================*/
/*GRID TABLE & CARDS*/
/*==================*/

.on-menu-items .col {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 100%;
    background: #f5f5f5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: .5s;
}

.card:hover{
    background: #e2e2e2;
    transform: scale(102%);
    transition: .3s;
}

.card .card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card .card-title{
    color: #333333;
}

.card-text{
    color: #5e5e5e;
}

.off-menu-items .card-text{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.card .img-fluid{
    height: 100%;
    object-fit: cover;
}

/*=====*/
/*POPUP*/
/*=====*/

.add-item-popup-box{
    height: 80vh;
    width: 60vh;
    left: 50%;
    transform: translate(-50%, -110%);
    position: fixed;
    padding: 0px;
    border: 1px solid greenyellow;
}

.add-item-popup{
    height: 100%;
    width: 100%;
    border: 1px solid cyan;
    background: #0f0f0f;
    display: flex;
}

.add-item-popup .inputs-box{
    height: 100%;
    width: 100%;
    border: 1px solid red;
    text-align: center;
    /* display: inline; */
}

.add-item-popup .inputs-box .input{
    margin: 4vh;
    height: 5vh;
    width: 60%;
    /* background-color: aqua; */
}

.hidden{
    display: none;
}

.blackout{
    opacity: 0.3;
}

/*=====*/
/*OTHER*/
/*=====*/

.dragging{
    opacity: 0.5;
}
