@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2a2a2a;
    font-family: 'Poppins', sans-serif;
}

.title{
    margin-top: 1.5rem;
    color: #fff;
    text-align: center;
    /* border: 1px solid #ff5b5b; */
}

/*=====*/
/*BOXES*/
/*=====*/

.main-box{
    height: 80vh;
    display: flex;
    border: 1px solid #181818;
    border-radius: 12px;
    background: #181818;
}

/*============*/
/*OPTION BOXES*/
/*============*/

.option-box{
    width: 100%;
    height: 60px;
    display: flex;
    /* padding-left: 0px;
    padding-right: 0px; */
    /* padding-top: auto; */
    margin-bottom: 1rem;
    border: 1px solid #181818;
    border-radius: 12px;
    background: #181818;
    padding: 5px;
}

.option-box-left{
    width: 100%;
    background: #202020;
    border-radius: 12px;
    margin-right: 1rem;
    display: flex;
    /* border: 1px solid #fffb21; */
}

.option-box-right{
    width: 50%;
    background: #202020;
    border-radius: 12px;
    margin-left: 1rem;
    /* border: 1px solid #fffb21; */
}

.option-box-left .form-select{
    width: 30%;
    height: 80%;
    border-radius: 12px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    /* color: #fff;
    background: #202020; */
    cursor: pointer;
}

.option-box-right .btn{
    width: 100%;
    border-radius: 12px;
    margin-top: 5px;
    font-size: 18px;
    /* color: #fff;
    background: #202020; */
    /* cursor: pointer; */
}

/*==================*/
/*LEFT & RIGHT BOXES*/
/*==================*/

.left-box{
    height: 98%;
    margin: auto;
    margin-right: 1rem;
}

.right-box{
    height: 98%;
    width: 50%;
    margin: auto;
    margin-left: 1rem;
}

.left-box, .right-box{
    border: 10px solid #202020;
    border-radius: 12px;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    overflow: auto;
    background: #202020;
}

.left-box-hover:hover, .right-box-hover:hover{
    background: #5e5e5e;
    box-shadow: 0px 0px 10px 10px rgb(134, 134, 134);
}

/*==================*/
/*GRID TABLE & CARDS*/
/*==================*/

.on-menu-items .col {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 100%;
    background: #f5f5f5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: .5s;
}

.card:hover{
    background: #e2e2e2;
    transform: scale(102%);
    transition: .3s;
}

.card .card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card .card-title{
    color: #333333;
}

.card-text{
    color: #5e5e5e;
}

.off-menu-items .card-text{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.card .img-fluid{
    height: 100%;
    object-fit: cover;
}

/*=====*/
/*POPUP*/
/*=====*/

.add-item-popup-box{
    height: 80vh;
    width: 60vh;
    left: 50%;
    transform: translate(-50%, -110%);
    position: fixed;
    padding: 0px;
    /* border: 1px solid greenyellow; */
}

.add-item-popup{
    height: 100%;
    width: 100%;
    /* border: 1px solid cyan; */
    background: #0f0f0f;
    display: flex;
    padding: 20px;
    border-radius: 15px;
}

.add-item-popup .inputs-box{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
}

.input-title-box,
.input-text-box,
.input-title2-box,
.input-topic-box{
    /* border: 1px solid yellow; */
    display: flex;
}

.input-img-box{
    /* border: 1px solid yellow; */
    height: 25vh;
    /* display: flex;   */
}

.input-title-label, 
.input-text-label,
.input-title2-label,
.input-topic-label{
    margin: 10px;
    height: 5vh;
    width: 30%;
    color: #fff;
    font-size: 3vh;
    padding: 0px;
    /* border: 1px dotted aqua; */
}

.input-img-label{
    /* margin: 10px; */
    height: 15%;
    width: 100%;
    color: #fff;
    font-size: 3vh;
    padding: 0px;
    /* border: 1px dotted aqua; */
}

.input-title, 
.input-text,
.input-title2,
.input-topic{
    margin: 10px;
    padding: 10px;
    height: 5vh;
    width: 100%;
    color: #fff;
    font-size: 3vh;
    background-color: transparent;
    border: 1px solid rgb(243, 243, 243);
    outline: none;
    box-shadow: none;
    transition: 0.5s;
}

.input-img-box label{
    width: 40%;
    height: 80%;
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    background-color: transparent;
    background: url('resources/images/new-item-button.png');
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.input-img-box .input-group{
    width: 70%;
    margin: auto;
    cursor: pointer;
}

.input-image-preview{
    padding: 15px;
    width: 100%;
    /* border: 1px dashed pink; */
}

.input-img-box img{
    width: 30%;
    object-fit: cover;
}

.input-title:focus, 
.input-text:focus,
.input-title2:focus,
.input-topic:focus,
.input-group input:focus{
    border: 1px solid rgb(255, 123, 0);
    box-shadow: 0px 0px 15px 0px orange;
    transition: 0.5s;
}




.input-button-box{
    width: 100%;
    height: 12.5vh;
}

.input-button-box .input-button{
    width: 75%;
    height: 60%;
    border-radius: 15px;
    font-size: 3vh;
    background-color: orange;
    color: black;
    border-color: orange;
}

.input-button-box .input-button:hover{
    transform: scale(102%);
    box-shadow: 0px 0px 10px 0px orange;
    transition: 0.5s;
}

.input-button-box .input-cancel-button{
    margin-top: 15px;
    width: 75%;
    height: 30%;
    border-radius: 15px;
    font-size: 2vh;
    background-color: rgb(241, 54, 79);
    color: #fff;
    border-color: rgb(241, 54, 79);
}

.input-button-box .input-cancel-button:hover{
    transform: scale(102%);
    box-shadow: 0px 0px 10px 0px rgb(241, 54, 79);
    transition: 0.5s;
}



.hidden{
    display: none;
}

.blackout{
    opacity: 0.3;
    transition: 0.5s;
}

/*=====*/
/*OTHER*/
/*=====*/

.dragging{
    opacity: 0.5;
}

.inputs-box hr{
    margin-top: 2vh;
    margin-bottom: 2vh;
    /* color: #ff811b; */
    /* background: aqua; */
    border: 1px solid rgb(255, 146, 4);
    border-radius: 30px;
    opacity: 1;
}

